* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
img {
  user-select: none; /* Sa nu mai pot selecta lucrui de pe pagina  */
}
/* Nav bar */
/* logo search child left */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
  background-color: white;
}
.logo-search-child-left {
  display: flex;
  align-items: center;
}
.marketeta-logo {
  height: 6.5vh;
  margin-left: 15px;
  cursor: pointer;
}
.search-bar {
  display: flex;
  border-radius: 25px;
  margin-left: 15px;
  background-color: white;
  padding-right: 15px;
  border-style: solid;
  border-color: #00b746;
}
.input-text {
  height: 4.5vh;
  border-radius: 25px;
  width: 30vw;
  padding-left: 15px;
  border: 0px;
}
.input-text:focus {
  outline: none;
}
.search-fav-bar {
  display: flex;
  align-items: center;
}
.search-fav {
  height: 3vh;
  cursor: pointer;
}
/* Logo search child right */

.logo-search-child-right {
  display: flex;
  align-items: center;
}
.logo-notification-text:hover {
  color: red;
}
.logo-notification-text {
  margin-right: 50px;
  padding-left: 5px;
  color: #00b746;
  cursor: pointer;
  font-weight: bolder;
}
.logo-notification-wrapper {
  color: #00b746;
}
.bi-percent {
  color: #00b746;
}
.bi-geo-alt {
  color: #00b746;
}

/* Another nav-bar  */

.another-top-bar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 8vh;
  background-color: #00b79f;
}
.all-products {
  display: flex;
  align-items: center;
  width: 30vw;
  height: 8vh;
  background-color: #8bc5aa;
  margin-left: 10vh;
}
.textproducts {
  font-size: larger;
  margin-left: 15vh;
  font-weight: bolder;
  cursor: pointer;
}
.four-items-name {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 8vh;
  background-color: #00b79f;
}
.text {
  padding-left: 20vh;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}

/* Incep sa fac main-wrapperul pentru pagina 1  */

.main-wrapper-page-1 {
  display: flex;
}
.left-side-bar {
  width: 30.9vw;
  height: 74vh;
  background-color: white;
}
.foods:hover {
  border-top: groove;
  border-bottom: groove;
}
.foods {
  display: flex;
  align-items: center;
  margin-top: 1.5vh;
  margin-left: 20px;
}
.food-pic {
  height: 5vh;
  margin-left: 15px;
  margin-top: 2vh;
}
.text-food:hover {
  color: #00b79f;
}
.text-food {
  margin-left: 5vh;
  font-size: 2vh;
  font-weight: bolder;
  cursor: pointer;
}
.text-alcool:hover {
  color: #00b79f;
}
.text-alcool {
  margin-left: 2vh;
  font-size: 2vh;
  font-weight: bolder;
  cursor: pointer;
}
.bigger-sign-fav-alim {
  height: 3vh;
  margin-left: 30vh;
  cursor: pointer;
}
.bigger-sign-fav-coke {
  height: 3vh;
  margin-left: 20vh;
  cursor: pointer;
}
.bigger-sign-fav-alch {
  height: 3vh;
  margin-left: 23vh;
  cursor: pointer;
}
.bigger-sign-fav-cigarettes {
  height: 3vh;
  margin-left: 26.5vh;
  cursor: pointer;
}
.bigger-sign-fav-ice {
  height: 3vh;
  margin-left: 29vh;
  cursor: pointer;
}
.bigger-sign-fav-products {
  height: 3vh;
  margin-left: 21vh;
  cursor: pointer;
}
.bigger-sign-fav-products2 {
  height: 3vh;
  margin-left: 20.7vh;
  cursor: pointer;
}
/* Incep sa fac main-wrapperul pentru pagina 2*/

/* Footer pentru pagina 1 */

.footer-page-1 {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 8vh;
  background-color: #00b79f;
}
.div-for-courier {
  display: flex;
  align-items: center;
  height: 6vh;
  width: 30vw;
  background-color: #00b79f;
  border-right: solid;
  border-left: solid;
  margin-top: 5px;
}
.courier-pic {
  height: 6vh;
  margin-left: 10vh;
}
.text-courier {
  margin-left: 6vh;
  font-size: large;
  cursor: pointer;
}
